html{
    font-size: 12px;
    @media (min-width: 768px) { 
        font-size: 12px;    
    }
    @media (min-width: 992px){
        font-size: 14px;
    }
    @media (min-width: 1200px){
        font-size: 14px;
    }
    @media (min-width: 1600px){
        font-size: 16px;
    }
}

.container{
    @media (min-width: 1600px){
        max-width: 1500px;
    }
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.primary{
    background-color: $primary;
    color: $white;
}

.primary:hover{
    background-color: $secondary;
    color: $white;
    transform: translateY(-6px);
    box-shadow: 0px 30px 60px rgba($color: $black, $alpha: 0.3);
}

.secondary{
    background-color: $secondary;
    color: $white;
}

.secondary:hover{
    background-color: $primary;
    color: $white;
    transform: translateY(-6px);
    box-shadow: 0px 30px 60px rgba($color: $black, $alpha: 0.3);
}