.card{
  width: 35rem;
  background-image: url("../../assets/images/Passport-Background.jpg");
  @include background-settings();
  border-radius: 10px;
  overflow: hidden;
  padding: 0 1em 0 1em;
  margin-top: 10rem;

    @media (max-width: 767.98px) { 
        // width: 80%;   
    }
    @media (max-width: 575.98px) { 
      width: 100%;
      // padding: 2em 1.5em 3em 1.5em;

      h3{
        font-size: 1.1rem;
      }
      p{
        // font-size: .9rem;
      }
     }
  h2{
      font-size: 1rem;
      @media (max-width: 400px) { 
        font-size: .7rem;   
      }
  }
  .card-header{
    display: flex;

    div:first-child{
      display: flex;
      align-items: center;
      p{
        font-size: .8rem;
        @media (max-width: 400px) { 
          font-size: .5rem;   
        }
      }
    }

    div:last-child{
      text-align: right;
      img{
        width: 70%;
      }
    }
  }
  .card-footer{
    p{
      font-size: .8rem;
      @media (max-width: 400px) { 
        font-size: .5rem;   
      }
    }
  }

  &__main{
    display: flex;
    width: 70%;
  }



  &__header{
    text-align: center;
  }

  &__info{
    display: flex;
    flex-direction: column;

  }

  &__details{
    display: flex;
    // justify-content: space-between;
    // margin-top: 3rem;

    &__img{
      width: 10rem;
      height: 13.6rem;
      @media (max-width: 400px) { 
        width: 8rem;
        height: 10rem;  
      }
      border-radius: 10px;
      background-size: cover;
      margin-right: 1.3rem;
    }

    &--info{
      /*margin-bottom: 1.5rem;*/

      &__p{
        margin: 0;
        font-size: .5rem;
      }

      &__h{
        margin: 0;
      }

    }
    .split{
      display: flex;
      justify-content: space-between;
    }
  }

  &__aside{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__p{
      font-size: .5rem;
    }

    &__img{
      width: 100%;
    }
  }

}