.card{
  width: 35rem;
    @media (max-width: 767.98px) { 
        width: 80%;   
    }
    @media (max-width: 575.98px) { 
      width: 100%;
      padding: 2em 1.5em 3em 1.5em;

      h3{
        font-size: 1.1rem;
      }
      p{
        font-size: .9rem;
      }
     }
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  padding: 2em 3em 4em 3em;
  margin-top: 10rem;

  h3.header{
    @media (max-width: 767.98px) { 
      font-size: 1rem;   
  }
  }

  &__main{
    display: flex;
  }



  &__header{
    text-align: center;
  }

  &__info{
    display: flex;
    flex-direction: column;

  }

  &__details{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    &__img{
      width: 7rem;
      height: 10rem;
      border-radius: 10px;
      background-size: cover;
      margin-right: 1.3rem;
      object-fit: cover;
    }

    &--info{
      /*margin-bottom: 1.5rem;*/

      &__p{
        margin: 0;
      }

      &__h{
        margin: 0;
      }

    }
  }

  &__aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__p{
      text-align: center;
    }

    &__img{
      width: 6rem;
    }
  }

}