.passport-form{
    width: 35rem;
    @media (max-width: 767.98px) { 
        width: 100%;   
    }
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2.5rem 4rem 2.5rem 4rem;
    // padding: 4.5rem 4rem 4.5rem 4rem;
    border-radius: 10px;
    background-color: $white;

    .form-control{
        input,button{
            display: block;
            width: 100%;
        }
        input{
            padding: 0.8em .8em;
            font-size: 1rem;
            margin-bottom: 1.5rem;
            border: .5px solid $dark;
            border-radius: 5px;
            outline: none;
            color: $black;
        }
        input:focus{
            border: 1px solid $secondary;
            outline: none;
        }
        input[type="file"]{
            color: transparent;
            cursor: pointer;
        }
        input[type="file"]::-webkit-file-upload-button {
          visibility: hidden;
        }
        input[type="file"]::before{
            content: 'Upload Image';
            color: $white;
            display: inline-block;
            background: $primary;
            padding: .3em .6em;
            border-radius: 5px;
        }
        input[type="file"]::after{
            content: 'Max-Size 1mb';
            color: $dark;
        }
        input[type="date"]{
            position: relative;  
            background-image: none;  
            background-color: $white;
            &::-webkit-datetime-edit-year-field {
                visibility: hidden;
            }
        }
        input[type="date"]::after{
            content: ': Birthday';
            position: absolute;
            top: 0;
            right: 0;
            padding: 1.25em .8em;
            font-size: .8rem;
            background-color: $white;
            color: rgba($color: $black, $alpha: .7);
            border-radius: 5px;
        }
        input[type="date"]:focus::after{
            content: '';
            background-color: transparent;
            width: auto;
            height: auto;
            border: none;
        }

        &__2col{
            display: flex;
            justify-content: space-between;

            @media (max-width: 450px) { 
                flex-direction: column;
            }
          
            input, select{
               width: 48%;

               @media (max-width: 450px) { 
                width: 100%;   
            }
            }


        }
    }
}

.search { 
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.search .search-icon { 
    position: absolute;
    top: 1rem;
    left: .8rem;
    font-size: 1rem;
}
.search input{
    font-size: 1rem;
    padding: 0.8em .8em .8em 3em;
    border-radius: 5px;
    border: .5px solid $dark;
    outline: none;
}
.search input:focus{
    // border-radius: 10px;
    border: .5px solid $secondary;
    // outline: none;
}

.select{
    width: 100%;
    margin-bottom: 1.5rem;
    height: 3.5rem;
    border: 0.5px solid #013042;
    border-radius: 5px;
    outline: none;
    padding: 0.8em;
    color: rgba($color: $black, $alpha: .7);
    background-image: none;  
    background-color: $white;

    &__value{
        font-size: 1rem;
    }
}

.select:focus{
    border: .5px solid $secondary;
}

.form-error{
    padding: 2rem;    
    width: 60%;
    color: red;
}